.module-card {
  padding: 10px;
  cursor: pointer;
}

.module-card h2 {
  margin: 0;
}

.lessons-container {
  margin-top: 10px;
}

.lesson {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.modules-container {
  display: flex;
  flex-direction: column;
  margin: 20px 100px 0px 100px;
}

.course-title {
  margin: 15px 0 30px 8px;
  font-size: 50px;
  color: #7c419f;
}
