/* .main {
  display: flex;
  flex-direction: column;
}

.loginNav {
  margin-left: 40px;
  margin-top: 18px;
} */

/* .login-page-total-div {
  padding: 20px;
}

.login-page-nav {
  background-color: #7c419f;
  padding: 10px;
  border-radius: 40px;
  padding-left: 25px;
} */
 
.ctcs{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  font-size: 20px;
  border-right: 2px solid goldenrod;
}

.ctcs-last{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: center;
  color:white;
  font-size: 20px;
}

.ctc{
  font-size: 70px;
}

.companies{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  color:white;
}

.fang-logo{
  width: 40%;
}

.header{
  font-size: 70px;
}

.desc{
  color: white;
  margin-top: 2%;
  font-size: 30px;
}

.wide-btn {
  width: 100%; 
  background-color: black;
  color: white;
  height: 48px;
  font-size: 20px;
  margin-bottom: 10px; 
}

.wide-btn:hover{
  background-color: rgb(50, 48, 48);
}

.custom-link {
  font-size: 24px;
  text-decoration: underline;
  color: black; /* Initial link color */
}

.custom-link:hover {
  color: rgb(50, 48, 48); 
}

.custom-checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.custom-checkbox-input {
  appearance: none; 
  width: 24px; /* Set custom width */
  height: 24px; /* Set custom height */
  margin-right: 10px; /* Adjust spacing between checkbox and label */
  border: 2px solid black;/* Border color */
  border-radius: 4px; /* Rounded corners */
  background-color: white;
  cursor: pointer;
}

.custom-checkbox-input:checked {
  background-color: black; /* Change background color when checked */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath stroke='%23fff' stroke-width='1.5' d='M1.5 4.5l1.5 1.5 3-3'/%3E%3C/svg%3E");
  background-size: 100%; /* Size of the tick mark */
  background-position: center;
  background-repeat: no-repeat;
}

.custom-checkbox-input:focus {
  outline: none; /* Remove focus outline */
  box-shadow: 0 0 0 3px rgba(59, 63, 67, 0.25); /* Custom focus style */
}

.custom-link {
  font-size: 24px;
  color: black;
  text-decoration: underline;
}

.custom-link:hover {
  color: rgb(50, 48, 48);
}
